@model NewsletterBoxModel
@using Nop.Web.Models.Newsletter;
@{
    Layout = null;
}


<div class="welcome-msg">   
    @*<div class="text-right"><a href="#" >X</a></div>*@
    <h2>Welcome</h2>
    <span>Please enter your email here &amp; get your free updates</span>
    <div class="form-welcome">
        @Html.TextBoxFor(x => x.NewsletterEmail, new { id = "newsletter-email_popup", @class = "form-control input-lg", placeholder = T("Newsletter.Email.Placeholder") })<br />

        <div class="row">
            <div class="col-sm-4 n-p-r">
                <input type="button" value="Not now" class="btn btn-default btn-commoninfo" id="popClose" />
            </div>
            <div class="col-sm-8">
                <input type="button" value="@T(Model.AllowToUnsubscribe ? "Newsletter.Options.Send" : "Newsletter.Options.Subscribe")" id="newsletterbox-subscribe-button" class="btn btn-default btn-submit w100-fluid" />
            </div>
        </div>
        
        
    </div>
    <div id="newsletter-result-block_popup" style="display:none">
        <p>Thank you!</p>
        <span>Your subscription was successful!</span>
    </div>
</div>

<script type="text/javascript">
        function newsletter_subscribePopup(subscribe) {
            var email = $("#newsletter-email_popup").val();
            //var subscribeProgress = $("#subscribe-loading-progress");
            //subscribeProgress.show();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: { "subscribe": subscribe, "email": email },
                success: function(data) {
                    //subscribeProgress.hide();
                    //$("#newsletter-result-block").html(data.Result);
                    //if (data.Success) {
                    //    $('#newsletter-subscribe-block').hide();
                    //    $('#newsletter-result-block').show();
                    //} else {
                    //    $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                    //}
                    $('#newsletter-result-block_popup').show();
                    $('#newsletterbox-subscribe-button').hide();
                    setTimeout(function()
                    {
                        $('.pop-box').hide();
                        $('.fader-wrapper').hide();
                    },2000)
                   
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#newsletterbox-subscribe-button').click(function () {
                newsletter_subscribePopup('true');
            });
            $("#newsletter-email").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#newsletterbox-subscribe-button").click();
                    return false;
                }
            });
        });
</script>