@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div id="body-content" class="section-body">
    <div class="fader-wrapper" style="top:10%">
        <div class="fader"></div>
        <h3>Please wait...</h3>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                @if (IsSectionDefined("left"))
                {
                    @RenderSection("left")

                }

            </div>
            <div class="col-md-9">

                @RenderBody()

            </div>

        </div>

    </div>
</div>