@model Nop.Web.Models.Catalog.SearchModel
@{
    Layout = null;

    var size = Model.PagingFilteringContext.PageSize;

    var pages = Model.PagingFilteringContext.TotalPages;
}
@if (Model.Products.Count > 0)
{
    <div class="section-pannel" id="searchResult">
        <div class="row">
            @foreach (var prod in Model.Products)
            {
                @Html.Partial("_ProductBox", prod)
            }
        </div>
    </div>
}
else
{
    <div class="section-pannel">
        <div class="row">
            <h5>No products found!</h5>
        </div>
    </div>
}

