@model Nop.Web.Models.Catalog.SearchModel
@{
    Layout = null;

    var size = Model.PagingFilteringContext.PageSize;

    var pages = Model.PagingFilteringContext.TotalPages;
}
@if (Model.Products.Count > 0)
{
    <div class="section-pannel" id="searchResult">
        <div class="row">
            @foreach (var prod in Model.Products)
            {
                @Html.Partial("_ProductBox", prod)
            }
        </div>

        <div class="page-wrap text-center">
            <ul class="pagination">
                <li onclick="pagerClick(1)"><a href="#">&laquo;</a></li>
                @for (int x = 1; x <= pages; x++)
                {
                    <li id="@x" onclick="pagerClick(@x)"><a href="#">@(x)</a></li>
                }


                <li onclick="pagerClick(@(pages))"><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="section-pannel">
        <div class="row">
            <h5>No products found!</h5>
        </div>
    </div>
}

