@model List<SelectListItem>
@{
    Layout = null;
}
<ul id="divSubCategories" class="list-group">
    @foreach (var sc in Model)
    {
        <li class="list-group-item n-p ">

            <div class="checkbox p5 n-m">
                <label>
                    <input type="checkbox" name="SubCatList" @(sc.Selected ? "checked" : "") value="@sc.Value">
                    @sc.Text
                </label>
            </div>


        </li>
    }

</ul>