@model List<Nop.Web.Models.Catalog.ProductOverviewModel>
@{
    Layout =null;

}

@if (Model.Count > 0) { 
<div class="section-pannel">
    <div class="section-header">
        <h4></h4>
    </div>
    <div class="row">

    @foreach (Nop.Web.Models.Catalog.ProductOverviewModel pm in Model)
    {     
            @Html.Partial("_ProductBox", pm)

    }      
    </div>
</div>
}