@model Nop.Web.Models.Catalog.ProductOverviewModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
   
}

@Html.HiddenFor(m => m.Id, new {id="HiddenField_vendorId" })

<div id="body-content">
    <div class="container">
        <div class="search">
            Search By:&nbsp;
            <select id="dropdownOrderBy">
                <option value="1">Latest</option>
                <option value="2">Alphabetically</option>
                <option value="3" selected="selected">Default</option>
            </select>
            <input type="text" class="search-box" id="textboxSearch"  />
            <a  id="buttonSearch"><img src="~/Themes/IB/Content/images/search.png" alt="" width="16" height="16" /></a>
        </div>
        <div class="section-pannel">
            <div class="section-header">
                <h4><span>My Product Search</span></h4>
            </div>
            <div class="row" id="div_vendor_products">
               
                    
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var baseUrl = "/";
    
    $(document).ready(function () {
        productdetailsVendor();

        $("#buttonSearch").click(function () {
            productdetailsVendor();
        });
    });

    ajaxPostJson = function (controller, method, jsonIn, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "POST",
            data: JSON.stringify(jsonIn),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#ajaxBusy').show();
            },
            success: function (json) {
                callback(json);
                $('#ajaxBusy').hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#ajaxBusy').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }

    ajaxGetData = function (controller, method, param, callback, errorCallback) {
        $.ajax({
            url: baseUrl + controller + "/" + method,
            type: "GET",
            cache: false,
            data: param,
            beforeSend: function () {
                $('#ajaxBusy').show();
            },
            success: function (json) {
                callback(json);
                $('#ajaxBusy').hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#ajaxBusy').hide();
                if (errorCallback != undefined)
                    errorCallback(xhr);
                alert(thrownError);
            }
        });
    }
    function productdetailsVendor() {
        var vendor = new Object();
        vendor.vendorId = $("#HiddenField_vendorId").val();
        vendor.orderById = $("#dropdownOrderBy").val();
        vendor.searchName = $("#textboxSearch").val();

        ajaxPostJson("Catalog", "GetProductListVendorId", vendor,
            function (data) {
                $("#div_vendor_products").html(data.productListHtml)

            },
            null);
    }
</script>