@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<div class="section-pannel">
    <div class="panel panel-default form-panel">
        <div class="panel-heading">
            <h2>Customer Services</h2>
        </div>
        <div class="panel-body">
            Please contact us with your specific queries: <strong>InteriorBoutiques@gmail.com</strong>
        </div>
    </div>
</div>
