@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure

<div id="section-footer" class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="footer-content">
                    <a href="http://interiorboutiques.blogspot.com"><img src="/Themes/IB/Content/images/blogs.png" alt="" width="34" height="34" /></a>&nbsp;

                    @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                    {
                        <a href="https://plus.google.com/+Interiorboutiques"><img src="/Themes/IB/Content/images/googleplus.png" alt="" width="34" height="33" /></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                    {
                        <a href="https://www.youtube.com/channel/UCVaHF1jiA6Whowh2GAq6G2Q"><img src="/Themes/IB/Content/images/youtube.png" alt="" width="34" height="34" /></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.TwitterLink))
                    {

                        <a href="https://twitter.com/InterBoutiques" data-show-count="false" data-show-screen-name="false" target="_blank"><img src="/Themes/IB/Content/images/twitter.png" alt="" width="34" height="34" /></a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


                    }
                    @if (!string.IsNullOrEmpty(Model.FacebookLink))
                    {
                        <a href="https://www.facebook.com/Interior-Boutiques-172824793068248/"><img src="/Themes/IB/Content/images/facebook.png" alt="" width="34" height="34" /></a>
                    }
                    &nbsp;<a href="https://www.instagram.com/interiorboutiques/" target="_blank"><img src="/Themes/IB/Content/images/instagram.png" alt="" width="34" height="34"/></a>
                    &nbsp; <a href="https://uk.pinterest.com/boutiquescom/" target="_blank"><img src="/Themes/IB/Content/images/pinterest.png" alt="" width="34" height="34"/></a>&nbsp; 
                    @*<a href="#"><img src="/Themes/IB/Content/images/links.png" alt="" width="34" height="34" /></a>*@
                    <a href="#"><img src="/Themes/IB/Content/images/tumblr.png" alt="" width="34" height="34" /></a>
                    <br /><br />
                    <ul>
                        <li><a href="#" onclick="showSubcribe();">Subscribe</a></li>
                        <li><a href="/Home/CustomerServices">Customer Services</a></li>
                        <li><a href="/Home/TermsAndConditions">Terms &amp; Conditions</a></li>
                    </ul>
                    
                    <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                </div>

                
            </div>
        </div>
    </div>
</div>
<script>
    function showSubcribe()
    {
        $.fn.onloadPopup();

    }
</script>

