@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-6 col-md-12">
                <div class="footer-content"> <a href="#"><img src="images/blogs.png" alt="" width="34" height="34" /></a>&nbsp; 
                
                @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                {
                    <a href="#"><img src="images/googleplus.png" alt="" width="34" height="33" /></a>
                }
                @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                {
                    <a href="#"><img src="images/youtube.png" alt="" width="34" height="34" /></a>
                }
                @if (!string.IsNullOrEmpty(Model.TwitterLink))
                {
                    <a href="#"><img src="images/twitter.png" alt="" width="34" height="34" /></a>
                }
                @if (!string.IsNullOrEmpty(Model.FacebookLink))
                {
                    <a href="#"><img src="images/facebook.png" alt="" width="34" height="34" /></a>
                }
                @if (Model.NewsEnabled)
                {
                    <li class="icon rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"><i class="fa fa-rss fa-fw"></i></a></li>
                }
                    &nbsp;<a href="#"><img src="images/instagram.png" alt="" width="34" height="34" /></a>&nbsp; <a href="#"><img src="images/pinterest.png" alt="" width="34" height="34" /></a>&nbsp;  <a href="#"><img src="images/links.png" alt="" width="34" height="34" /></a></div>
            </div>
            <div class="col-sm-6 col-md-12">
                <div class="footer-content">
                    <ul>
                        <li><a href="#">Subscribe</a></li>
                        <li><a href="#">Customer Services</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


