/*============================================================*/
/*===================== IMPORTING CSS ========================*/
/*============================================================*/
@import url('bootstrap-reset.css');



/*============================================================*/
/*========================== APP CSS =========================*/
/*============================================================*/
@font-face {
    font-family: 'bellmt';
    src: url('BellMT.eot'); /* IE9 Compat Modes */
    src: url('BellMT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('BellMT.woff2') format('woff2'), /* Super Modern Browsers */
    url('BellMT.woff') format('woff'), /* Pretty Modern Browsers */
    url('BellMT.ttf') format('truetype'),; /* Safari, Android, iOS */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: bellmt;
    margin-top: 65px;
    margin-bottom: 150px;
}

/*================== COMMON STYLES ======================*/
.section-pannel {
    /*background-color: #FCFCFC;*/
}

.section-header {
    padding: 30px 0px 15px;
    /* margin-bottom: 10px; */
    /* margin-top: 20px; */
    text-align: center;
}

    .section-header h4 {
        color: #5e5e5e;
        margin: 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        line-height: 0.1em;
        margin: 10px 0 20px;
        font-size: 40px;
    }

        .section-header h4 span {
            background: #fff;
            padding: 0 10px;
        }

/*================== HEADER STYLES ======================*/
.logo {
    background: url('../images/logo.png');
    height: 80px;
    text-align: center;
    display: inline-block;
    width: 406px;
    margin-top: 20px;
}

hr.logo-line {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #DADADA;
    width: 40%;
}

.logo-tagline {
    font-size: 17px;
    color: #8D8D8D;
    font-style: italic;
}

/*================== FOOTER STYLES ======================*/
.section-footer {
        position: absolute;
    bottom: 0;
    background-color: #e5e5e5;
    border-top: 5px solid #DCDCDC;
    left: 0;
    right: 0;
    height: 150px;
    box-sizing: border-box;
    padding: 20px;
}

.footer-content {
    text-align: center;
    color:#5D5D5D;
}

    .footer-content ul {
        margin: 10px 0;
        padding: 0;
    }

        .footer-content ul li {
            margin: 0;
            padding: 0 8px 0 3px;
            list-style-type: none;
            display: inline-block;
            border-right: 1px solid #ADADAD;
        }

            .footer-content ul li:last-child {
                border: 0;
            }

            .footer-content ul li a {
                color: #5D5D5D;
            }


/* ===================== NEWSLETTER BOX ===================*/

.newsletter-box {
    display: block;
    padding: 80px 50px 20px;
    background-color: #F9F9F9;
    min-height: 368px;
    border: 1px solid #E4E4E4;
    /* background-image: url('../images/newsletter-bg.png'); */
    background-position: top;
    background-repeat: repeat-x;
}


    .newsletter-box .newsletter-icon {
        font-size: 100px;
        position: absolute;
        top: -15px;
        color: #5A5A5A;
    }

    .newsletter-box h3 {
        text-transform: uppercase;
        font-size: 26px;
    }

    .newsletter-box input[type='text'] {
        border: 1px solid #000;
        border-radius: 0;
    }

    .newsletter-box .btn-subscribe {
        width: auto;
        padding: 10px 20px;
        font-size: 22px;
        text-transform: uppercase;
        background-color: #5A5A5A;
        color: #fff;
        border: 1px solid #5A5A5A;
    }

/* ===================== HOME BANNER ===================*/
.home-banner {
    border: 1px solid #E4E4E4;
    position: relative;
    min-height: 320px;
    margin-bottom: 15px;
}

    
.home-banner h3 {
    position: absolute;
    bottom: -48px;
    left: -1px;
    right: -1px;
    /* left: 183px; */
    margin-bottom: 0;
    padding: 5px 20px;
    /* padding-left: 20px; */
    background-color: rgb(249, 249, 249);
    color: #5E5E5E;
    font-size: 33px;
    border: 1px solid #E4E4E4;
    display: grid;
    text-align: center;
    }


/* ===================== HOME PRODUCTS - ITEM ===================*/
.thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.thumbnail-large {
    min-height: 390px;
    max-height: 462px;
    overflow: hidden;
}

.thumbnail-small {
    min-height: 220px;
}

.thumbnail:hover {
    color: #5D5D5D;
    box-sizing: border-box;
    box-shadow: 0 0 2px #c2c2c2;
    background-color: #EEEEEE;
}

    .thumbnail:hover .caption a {
        color: #5D5D5D;
        text-decoration: none;
    }

    

.thumbnail .thum-img {
    display: block;
    height: 220px;
    text-align: center;
}

   .thumbnail .thum-img a {
        background-color: transparent;
        height: 100%;
        display: block;
    }

   .thumbnail:hover .thum-img a {
        background-color: #fff;
        height: 100%;
        display: block;
    }

       .thumbnail .thum-img a img {
            max-height: 100%;
            /* min-width: 100%; */
        }


.thumbnail:hover .thum-img {
    opacity:1;
    -webkit-filter: contrast(150%); /* Chrome, Safari, Opera */
    filter: contrast(150%);
}

/*.thumbnail:hover .thum-img a img {
        opacity:0.9; background:#000;
    }*/




.thumbnail .caption {
    padding: 0;
    min-height: 202px;
}


    .thumbnail .caption h3 {
        text-align: center;
        margin-top: 30px;
        /* height: 48px; */
        /* overflow: hidden; */
        display: block;
    }

.thumbnail .caption-small {
    padding: 0;
    background-color: #FFF;
    margin: 4px 0px 0;
    border-radius: 0 0 4px 4px;
        border: 1px solid #DDD;
}

    .thumbnail .caption-small h3 {
        margin: 0;
    }


.thumbnail .caption a {
    text-transform: uppercase !important;
    font-size: 17px;
    font-family: bellmt;
    color: #464646;
    font-weight: bold;
}

.thumbnail .caption-small a {
    text-transform: uppercase !important;
    font-size: 20px;
    font-family: bellmt;
    color: #464646;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    width: 100%;
    /* overflow: hidden; */
    min-height: 64px;
    /* background-color: green; */
    /* vertical-align: sub; */
}

.thumbnail .caption .desc {
    font-size: 15px;
    font-family: bellmt;
    color: #8D8D8D;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail .caption .price {
    font-size: 20px;
    font-family:Calibri;
    color: #8D8D8D;
    text-align: center;
    /* margin-bottom: 10px; */
}


/*================ LOGIN PAGE - SIGNIN PANEL ================ */
.signin-panel {
    font-size: 18px;
    padding: 20px 50px 20px 0;
    border-right: 1px solid #ccc;
}

.account-registration-panel {
    font-size: 18px;
    padding: 20px 50px 20px 0
}

    .signin-panel h2 {
        font-size: 44px;
        color: #333333;
        border-bottom: 1px dashed #ccc;
    }

.form-control-custom1 {
    background-color: white;
    height: 40px;
    border: 1px solid #8C8C8C;
    border-radius: 1px;
    font-weight: bold;
    color: #8C8C8C;
    font-size: 20px;
}

    .form-control-custom1:required {
        background-color: red;
    }

.signin-panel .btn-login {
    padding: 4px 20px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #5A5A5A;
    color: #fff;
    border: 1px solid #5A5A5A;
}

.account-registration-panel .button-continue {
    padding: 4px 20px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #5A5A5A;
    color: #fff;
    border: 1px solid #5A5A5A;
}

/*================ LOGIN PAGE - CREATE NEW PANEL ================ */
.createnew-panel {
    font-size: 18px;
    padding: 60px 2px 0px 0px;
}

    .createnew-panel h2 {
        font-size: 34px;
        color: #333333;
        border-bottom: 1px dashed #ccc;
    }

    .createnew-panel .btn-create-account {
        padding: 15px 20px;
        font-size: 20px;
        text-transform: uppercase;
        background-color: #FFFFFF;
        color: #333;
        border: 1px solid #BABABA;
    }


/*================ PRODUCTDETAILS PAGE ================ */
.floating-icon {
    position: absolute;
    z-index: 10;
    margin-top: 7%;
    margin-left: -8%;
}

    .floating-icon a {
        display: block;
        padding-bottom: 5px;
    }

slider-main-img ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-main-img-big {
    width: 100%;
}

    .slider-main-img-big a img {
        height: 350px;
        display: inline-table;
    }

.gallery {
    margin: 0 auto 50px;
    padding: 10px;
    border: 1px solid #EDEDED;
}

    .gallery .picture-wrapper {
        margin: 0 0 10px;
    }

    .gallery .picture {
        /*margin-bottom: 10px;
    padding-bottom: 10px;*/
    }

        .gallery .picture:before {
            /*content: "";
	display: block;
	padding-top: 100%;*/
        }
        /*.gallery .picture img,
.gallery .picture-thumbs img,
.variant-picture img {
 width: 100%;
  height: auto;

}*/
        .gallery .picture img, .gallery .picture-thumbs img, .variant-picture img {
            /* width: 100%; */
            /* height: auto; */
        }

    .gallery .picture-thumbs {
        overflow: hidden;
        font-size: 0;
        border-top: 2px solid #EDEDED;
        padding-top: 10px;
        margin-top: 10px;
    }

        .gallery .picture-thumbs a {
            display: inline-block;
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0 10px 0 0;
            overflow: hidden;
            border: 1px solid #EDEDED;
        }


.form-text-lg > .block, .form-lg {
    width: 100%;
    border: 1px solid #EDEDED;
    font-family: bellmt;
    color: #575757;
    padding: 15px;
    margin-bottom: 5px;
    border-top: 4px solid #EDEDED;
}

.form-text-lg .btn-custom {
    margin-bottom: 5px;
    width: 100%;
}

.form-text-lg h3, .form-text-lg h4 {
    margin: 0;
    font-size: 34px;
}

    .form-text-lg h3 > span {
        font-size: 14px;
        display: block;
        margin-top: 10px;
    }

.form-text-lg .availability {
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 12px;
    font-weight: bold;
}


/*================ SHOP BY CATEGORY PAGE ================ */

.panel-maxheight {
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*================ NEWLETTER POPUP ================ */
.pop-box {
    background-color: #8A8A8A;
    margin: auto auto;
    max-width: 335px;
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    max-height: 450px;
    border: 10px solid #fff;
    text-align: center;
    color: #fff;
}

.pop-box .welcome-msg {
    margin-top:100px;
}


    .pop-box .form-welcome {
        margin-top:20px;
    }

.pop-box input[type='text'] {
    border: 1px solid #000;
    border-radius: 0;
}

#toTop {
    position: fixed;
    bottom: 15px;
    margin-bottom: 200px;
    right: 32px;
    cursor: pointer;
    display: none;
    background: none;
    border: 1px solid #adadad;
    color: #adadad;
}


/* Slider */
.bx-viewport{
	height:685px !important;
	}
.pop-box .bx-viewport{
	height:auto !important;
	}
.bx-wrapper .bx-caption{
	bottom:-74px;
	background-color:#fff;
	border:1px solid #ccc;
	}
.bx-wrapper .bx-caption span{
	color:#575757;
	text-align:center;
	font-family:bellmt;
	font-size:36px;
	}
.bx-wrapper .bx-viewport{
	box-shadow:none;
	}
.bxslider li{
	left:0;
	}
.bx-wrapper .bx-controls-direction a{
	width:41px;
	}
.pop-box > .bx-wrapper .bx-viewport{
	left:0;
	}
.img-align-center{
	text-align:center;
	text-align:-moz-center;
	text-align:-webkit-center;
	}


    
/*============= LOADER ================*/

.fader-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    padding: 50px;
    margin: 100px;
    padding-top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    text-align: center;
    border: 1px solid #ccc;
    display:none;

}
.fader:before,
.fader:after,
.fader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.fader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.fader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.fader:after {
  left: 3.5em;
}
.fader:before,
.fader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #f00;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #f00;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #f00;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #f00;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}