@model List<Nop.Web.Models.Catalog.VendorModel>
@{
    Layout = null;
}
<div class="section-pannel">
    <div class="section-header">
        <h4><span>Latest Boutiques</span></h4>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <a href="boutique-shop-details.html">
                    <div class="thumbnail height-small"> <img src="@item.ImageUrl" /></div>
                    <div class="caption with-border">
                        <h3>@item.Name</h3>
                    </div>
                </a>
            </div>
        }
    </div>
</div>