@model List<Nop.Web.Models.Catalog.VendorModel>
@{
    Layout = null;
}
<div class="section-pannel">
    <div class="section-header">
        <h4><span>Latest Boutiques</span></h4>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">

                <div class="thumbnail thumbnail-small">
                    <div class="thum-img">
                        <a href="@Url.Action("BoutiqueShopDetails", "Catalog", new { vendorId =@item.Id})"><img src="@item.ImageUrl" /></a>
                    </div>
                    <div class="caption-small">
                        <h3><a href="@Url.Action("BoutiqueShopDetails", "Catalog", new { vendorId =@item.Id})">@item.Name</a></h3>
                    </div>
                </div>

            </div>
        }
    </div>
</div>