@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<div class="section-pannel">
    <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-12">

            <!-- Customer Terms and Conditions content here -->
            <h3>Your account is not activated. Please <a href="/Home/index">Click here</a> to go to home page!</h3>
            <div class="space-block">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
