@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var qs = this.Context.Request.QueryString["returnUrl"];
    var continueUrl = "";
    if (!String.IsNullOrEmpty(qs) && Url.IsLocalUrl(qs))
    {
        continueUrl = qs;
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<div id="body-content" class="section-body">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <section class="account-registration-panel">
                    <div class="page-title">
                        <h2>@T("Account.Register")</h2>
                    </div>
                    <div class="page-body">
                        <div class="result">
                            <h4>@Model.Result</h4>
                        </div>
                        <div>
                            <input type="button" class="button-continue" onclick="location.href = '@continueUrl'" value="@T("Account.Register.Result.Continue")" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
